<% include partials/header %>

<style>
    .col {
        text-align: center;
    }
    .list-group-header {
        background: grey;
        color: white;
    }

    .row {
        margin-bottom: 25px;
    }
</style>

<div class="jumbotron" style="text-align:center;">
    <h1>Welcome, <%= user.name %>!</h1> 
</div>

<div class="container">


    <div class="row">

        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-header">
                    Leave
                </li>

                <li class="list-group-item">
                    <a href="/leave/apply"> 
                        Apply Leave 
                    </a>
                </li>
                <li class="list-group-item"> 
                    <a href="/leave/view"> 
                        View Leave Status 
                    </a> 
                </li>

                <% if (user['department'] === 'Human Resources' ) { %>
                    <li class="list-group-item"> 
                        <a href="/leave/pending"> 
                            Review Pending Leave
                        </a> 
                    </li>
                <% } %>

                <% if (user['position'] === 'VP' ) { %>
                    <li class="list-group-item"> 
                        <a href="/leave/reviewed"> 
                            Approve Leaves
                        </a> 
                    </li>
                <% } %>
            </ul>
        </div>

        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-header">Payroll</li>
                <li class="list-group-item">Process Salaries</li>
            </ul>
        </div>

        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-header">Claims</li>
                <li class="list-group-item">
                    <a href="/claim/form">
                        Submit Claim
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="/claim/user">
                        My Claims
                    </a>
                </li>

                <% if ( user['department'] === 'Finance' ) { %>
                <li class="list-group-item">
                    <a href='/claim'>
                        Approve Claims
                    </a>
                </li>
                <li class="list-group-item">
                    <a href='/claim/reimbursement'>
                        Reimburse Claims
                    </a>
                </li>
                <% } %>

            </ul>
        </div>

    </div>

    <div class="row">

        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-header">
                    Performance Appraisal
                </li>

                <% if ( user['position'] === 'VP' ) { %>
                <li class="list-group-item">
                    <a href="/appraisal"> 
                        Write Appraisal Report
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/appraisal/reports/department"> 
                        View Department's Reports
                    </a>
                </li>
                <% } %>
                
                <% if (user['department'] === 'Human Resources' ) { %>
                    <li class="list-group-item"> 
                        <a href="/appraisal/generate"> 
                            Generate Forms
                        </a> 
                    </li>
                    <li class="list-group-item"> 
                        <a href="/appraisal/reports"> 
                            View All Reports
                        </a> 
                    </li>
                <% } %>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-header"> My Account </li>

                <li class="list-group-item">
                    <a href="/user">
                        Update Address
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="/user/password">
                        Change Password
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="/user/bank">
                        My Bank Account
                    </a>
                </li>

            </ul>
        </div>

        <div class="col">
            <ul class="list-group">
                <li class="list-group-item list-group-header"> ??? </li>
            </ul>
        </div>

    </div>

</div>


<% include partials/footer %>